.sideBarSalesBtnContainer{
    margin-bottom: 20px;
   
    overflow: hidden;
}

.sideBarSalesBtn{
    padding: 5px;
    margin-left: 27px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 17px;
    color: rgb(239, 239, 239);
    transition: background-color 0.3s ease;
}

.sideBarSalesBtn:hover{
    background-color: rgb(31, 31, 44);
}

.SalesBtnItems{
    /* background-color: aquamarine; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.SalesBtnContent{
    padding: 11px;
    margin-left: 29px;
}

.sideBarSalesBtnContainer.active .SalesBtnItems{
    color: white;
    max-height: 280px;
}

